<%= render "shared/teacher_classroom_bar" %>
<div class="input-flame">
  <h2>クラスルーム編集</h2>
  <%=form_with model: @classroom, local: true do |f|%>
    <%# エラー文 %>
    <%= render 'shared/error_messages', model: f.object %>

    <div class="form-group">
      <%= f.label :name, "クラス名", class: "form-label" %>
      <span class="indispensable">必須</span>
      <%= f.text_field :name, class: "form-control", placeholder: 'クラス名を入力してください' %>
    </div>
    <%# 学期 %>
    <div class="form-group">
      <%= f.label :year_month, "学期", class: "form-label" %>
      <span class="indispensable">必須</span>
      <div class="select-box">
        <%= raw sprintf(f.date_select(:year_month, use_month_numbers: true, discard_day: true, start_year: Time.now.year - 5, end_year:Time.now.year, date_separator:'%s'),'年') + '月' %>
      </div>
    </div>
    <%# 学期 %>
    <%# クラスメンバー %>
    <div class="form-group">
      <label class="form-label">クラスメンバー</label>
      <span class="indispensable">必須</span>
      <%# 講師 %>
      <div class="teacher-select">
        <%# cocoonの追加ボタン %>
        <div class="links">
          <%= link_to_add_association "講師を追加する", f, :classroom_teachers,
            class: "add_fields",
            id: "add-btn",
            data: {
              association_insertion_node: "#teacher-insertion-point",
              association_insertion_method: "before"
            }
          %>
        </div>
        <div class="teacher-in-classroom">
          <%# 追加ボタンを押した時に追加される内容 %>
          <div class="add-select-teacher">
            <%= f.fields_for :classroom_teachers do |f| %>
              <%= render "classroom_teacher_fields", f: f %>
            <% end %>
          </div>
          <%# //追加されたものが入る場所 %>
          <div id="teacher-insertion-point"></div>
        </div>
      </div>
      <%# /講師 %>
      <%# 学生 %>
      <div class="student-select">
        <%# cocoonの追加ボタン %>
        <div class="links">
          <%= link_to_add_association "学生を追加する", f, :classroom_students,
            class: "add_fields",
            id: "add-btn",
            data: {
              association_insertion_node: "#student-insertion-point",
              association_insertion_method: "before"
            }
          %>
        </div>
        <div class="student-in-classroom">
          <%# 追加ボタンを押した時に追加される内容 %>
          <div class="add-select-student">
            <%= f.fields_for :classroom_students do |f| %>
              <%= render "classroom_student_fields", f: f %>
            <% end %>
          </div>
          <%# //追加されたものが入る場所 %>
          <div id="student-insertion-point"></div>
        </div>
      </div>
      <%# /学生 %>
    </div>
    <%# /クラスメンバー %>
    <div class="btn-contents">
      <%= f.submit class: "btn-primary" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
  <% end %>
</div>

