<% if teacher_signed_in? %>
  <%= render "shared/teacher_bar" %>
<% elsif student_signed_in? %>
  <%= render "shared/student_bar" %>
<% else %>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="sideNav">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item"><%= link_to "講師はこちら", new_teacher_session_path, class: "nav-link"%></li>
        <li class="nav-item"><%= link_to "学生はこちら", new_student_session_path, class: "nav-link"%></li>
        <li class="nav-item"><%= link_to '講師ゲストログイン', teachers_guest_sign_in_path, method: :post, class: "nav-link"%></li>
        <li class="nav-item"><%= link_to '学生ゲストログイン', students_guest_sign_in_path, method: :post, class: "nav-link"%></li>
      </ul>
    </div>
  </nav>
<% end %>

<%# 講師表示内容 %>
<% if teacher_signed_in? %>
  <%# 担任クラスの表示 %>
  <h4>担任クラス一覧</h4>
  <% @classrooms_hr.each do |classroom| %>
<div class='a-box'>
    <%= link_to classroom_path(classroom.id) do %>
      <div class="genre-icon d-inline">
        <%= l classroom.year_month, format: :short %>
      </div>
      <%= classroom.name %>
      <% classroom.chatrooms.each do |chatroom| %>
        <% if Chat.where(chatroom_id: chatroom.id, judgement: 1, checked: false).exists? %>
          <div class="notification">
            新着
          </div>
          <%# return エラー出る %>
        <% end %>
      <% end %>
    <% end %>
</div>
  <% end %>
  <%# /担任クラスの表示 %>
  <%# 担当クラスの表示 %>
  <h4>担当クラス一覧</h4>
  <% @classrooms_cl.each do |classroom| %>
    <%= render partial: "classroom_each", locals: {classroom: classroom} %>
  <% end %>
<%# /担当クラスの表示 %>
  <h4>クラス一覧</h4>
  <%# 全てのクラスルームの表示 %>
  <% @classrooms.each do |classroom| %>
    <%= render partial: "classroom_each", locals: {classroom: classroom} %>
  <% end %>
  <%# /全てのクラスルームの表示 %>
<% end %>
<%# /講師表示内容 %>

<%# 学生表示内容 %>
<% if student_signed_in? %>
  <% @classrooms_st.each do |classroom| %>
    <%#= render partial: "classroom_each", locals: {classroom: classroom} %>
    <div class='a-box'>
      <%= link_to classroom_path(classroom.id) do %>
        <div class="genre-icon d-inline">
          <%= l classroom.year_month, format: :short %>
        </div>
        <%= classroom.name %>
        <% classroom.chatrooms.each do |chatroom| %>
          <% if Chat.where(chatroom_id: chatroom.id, judgement: 1, checked: false).exists? %>
            <div class="notification">
              新着
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
<%# /学生表示内容 %>
