<ul class="header-ul">
  <%# 学生ログイン時のヘッダー %>
  <% if student_signed_in? %>
    <li class="header-li">
    <%#= link_to student_path(current_student.id) do %>
      <div class="user-box">
        <div>
          <%= image_tag current_student.image.url, class: "user-image" %>
        </div>
        <div class="user-nickname"><%= current_student.nickname %></div>
      </div>
    </li>
    <div>
    <%= link_to 'ログアウト', destroy_student_session_path, method: :delete, class: "logout" %>
    </div>
  <%# 学生ログイン時のヘッダー %>
  <%# 先生ログイン時のヘッダー %>
  <% elsif teacher_signed_in? %>
    <li class="header-li">
        <%= image_tag current_teacher.image.url, class: "user-image" %>
      <div class="user-nickname"><%= current_teacher.nickname %></div>
    <%= link_to 'ログアウト', destroy_teacher_session_path, method: :delete, class: "logout" %>
  <%# 先生ログイン時のヘッダー %>
  <%# ゲストのヘッダー %>
  <% else %>
  <%# ゲストのヘッダー %>
  <p><%= link_to "講師はこちら", new_teacher_session_path %></p>
  <p><%= link_to "学生はこちら", new_student_session_path %></p>
    <%# <li class="header-li"><%= link_to 'トップページ', root_path, method: :get, class: "root" % ></li> %>
  <% end %>

<% if teacher_signed_in? %>
  <%# クラスルーム作成 %>
  <p><%= link_to "新しいクラスを作る", new_classroom_path %></p>
  <%# /クラスルーム作成 %>
  <%# 情報投稿 %>
  <p><%= link_to "新しいインフォメーションを作る", new_information_path %></p>
  <%# /情報投稿 %>
  <%# 担任クラスの表示 %>
  <h4>担任クラス一覧</h4>
  <% @classrooms_hr.each do |classroom| %>
    <div class='classroom'>
      <%= link_to classroom_path(classroom.id) do %>
        <%= classroom.name %>
      <% end %>
    </div>
  <% end %>
  <%# /担任クラスの表示 %>
  <%# 担当クラスの表示 %>
    <h4>担当クラス一覧</h4>
    <% current_teacher.classrooms.each do |classroom| %>
      <div class='classroom'>
        <%= link_to classroom_path(classroom.id) do %>
          <%= classroom.name %>
        <% end %>
      </div>
    <% end %>
  <%# /担当クラスの表示 %>
    <h4>クラス一覧</h4>
    <%# 全てのクラスルームの表示 %>
    <% @classrooms.each do |classroom| %>
      <div class='classroom'>
        <%= link_to classroom_path(classroom.id) do %>
          <%= classroom.name %>
        <% end %>
      </div>
    <% end %>
    <%# /全てのクラスルームの表示 %>
  <% end %>
</ul>







<%# クラス一覧 %>