<h1>classroom#show</h1>
<%# カレンダー %>
<% @informations.each do |information| %>
  <%= information.genre.name %>
  <%= information.title %>
  <%= information.content %>
<% end %>

<%= month_calendar  do |date| %>
  <%= date.day %>
  
<% end %>
<%# /カレンダー %>
