<%# サイドバー %>
<% if teacher_signed_in? %>
  <%= render "shared/teacher_classroom_bar" %>
<% else %>
  <%= render "shared/student_classroom_bar" %>
<% end %>

<h2><%= @classroom.name %>クラス</h2>
<%# 情報一覧 %>
<div class="btn-box">
  <div class="col-sm-8">
    <h5>お知らせ</h5>
    <ul class="list-unstyled">
      <% @informations.each do |information| %>
        <li class="a-box">
          <%= link_to information_path(information.id) do %>
            <div class="genre-icon d-inline">
              <%= information.genre.name %>
            </div>
            <%= information.title %>
          <% end %>
        </li>
      <% end %>
    </ul>
    <%= paginate @informations, window: 5 %>
  </div>
  <%# /情報一覧 %>

  <% if teacher_signed_in? && current_teacher.id == @classroom.teacher_id %>
    <div class="col-md-2">
      <%= link_to '編集', edit_classroom_path(@classroom.id), method: :get, class: "btn-primary" %>
      <%= link_to '削除', classroom_path(@classroom.id), method: :delete, data: { confirm: '削除すると元には戻せません。本当に削除しますか？' }, class: "btn-primary" %>
    </div>
  <% end %>
</div>

<%# カレンダー %>
<%= month_calendar events: @all do |date, all| %>
  <%= date.day %>
  <% all.each do |all| %>
    <%# 出席 %>
    <% if all.judgement == 1 %>
    <%#/出席 %>
    <%# 授業記録 %>
    <% elsif all.judgement == 2 %>
      <% if teacher_signed_in? %>
        <div>
          <%= link_to "授業記録", classroom_take_over_path(@classroom.id, all.id) %>
        </div>
      <% end %>
    <%#/授業記録 %>
    <%# 宿題 %>
    <% elsif all.judgement == 3 %>
      <div>
        <%= link_to "宿題", classroom_homework_path(@classroom.id, all.id) %>
      </div>
    <% end %>
  <% end %>
<% end %>
<%# /カレンダー %>