<%# サイドバー %>
<% if teacher_signed_in? %>
  <%= render "shared/teacher_classroom_bar" %>
<% elsif student_signed_in? %>
  <%= render "shared/student_classroom_bar" %>
<% end %>

<div class="chat-flame" id="scroll-inner">
<%# チャット一覧表示 %>
  <% if teacher_signed_in? %>
    <h2><%= @student.nickname %>さんとのチャット</h2>
    <% @chats.each do |chat| %>
      <% if chat.judgement==1 %>
        <div class="mycomment">
          <p><%= chat.text %></p>
        </div>
      <% elsif chat.judgement==2 %>
        <div class="balloon6">
          <div class="faceicon">
            <%= image_tag @student.image.url %>
          </div>
          <div class="chatting">
            <div class="says">
              <%= chat.text %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% elsif student_signed_in? %>
    <h2><%= @teacher.nickname %>先生とのチャット</h2>
    <% @chats.each do |chat| %>
      <% if chat.judgement==1 %>
        <div class="balloon6">
          <div class="faceicon">
            <%= image_tag @teacher.image.url %>
          </div>
          <div class="chatting">
            <div class="says">
              <%= chat.text %>
            </div>
          </div>
        </div>
      <% elsif chat.judgement==2 %>
        <div class="mycomment">
          <p><%= chat.text %></p>
        </div>
      <% end %>
    <% end %>
  <% end %>
<%# /チャット一覧表示 %>

  <%# チャット投稿フォーム %>
  <%# ※@chatroomだとエラーでるから、一旦下の書き方 %>
  <%= form_with url: classroom_chatroom_chats_path(@classroom.id, Chatroom.find(params[:id]).id ), model: @chat, method: :post, class: "form", local: true do |f| %>
    <%# エラー文 %>
    <%= render 'shared/error_messages', model: f.object %>

    <div class="form-input">
      <%#= f.label :text, class: "form-label" %>
      <%= f.text_area :text, class: "form-message", placeholder: '入力してください'%>
    </div>
    <%# 講師→1, 学生→2 %>
    <div class="form-group">
      <% if teacher_signed_in? %>
        <%= f.hidden_field :judgement, value: 1 %>
      <% elsif student_signed_in? %>
        <%= f.hidden_field :judgement, value: 2 %>
      <% end %>
    </div>
    <%# 講師→1, 学生→2 %>
    <div class="btn-contents">
      <%= f.submit "送信", class: "form-submit"%>
      <%#= f.submit "送信", class: "btn-primary"%>
      <%#= link_to 'もどる', classroom_path(@classroom.id), class:"back-btn" %>
    </div>
  <% end %>
</div>
<%# /チャット投稿フォーム %>