<h1>informations#index</h1>
<% if teacher_signed_in? %>
  <%= render "shared/teacher_bar" %>
<% elsif student_signed_in? %>
  <%= render "shared/student_bar" %>
<% end %>
<% @informations.each do |information| %>
  <div class='information'>
    <%= link_to information_path(information.id) do %>
      <div class='infomation'>
        <p><%= information.title %></p>
        <p><%= information.genre.name %></p>
        <div class='info-content'>
          <p><%= information.content %></p>
        </div>
        <p><%= information.teacher.nickname %></p>
        </div>
    <% end %>
  </div>
<% end %>