<%# サイドバー %>
<% if teacher_signed_in? %>
  <%= render "shared/teacher_classroom_bar" %>
<% else %>
  <%= render "shared/student_classroom_bar" %>
<% end %>
<div class="btn-box">
  <div class="col-sm-8 ">
    <div class="form-group d-inline top">
      宿題内容
    </div>
    ：<%= @homework.content %>
  <% if @homework.file.attached? %>
    <strong>ダウンロード:</strong>
    <%= link_to "添付ファイル" ,rails_blob_path(@homework.file) %>
  <% end %>
  </div>
  <% if teacher_signed_in? && current_teacher.id == @homework.teacher_id %>
    <div class="col-md-2">
      <%= link_to '編集', edit_classroom_homework_path(@classroom.id, @homework.id), method: :get, class: "btn-primary" %>
      <%= link_to '削除', classroom_homework_path(@classroom.id, @homework.id), method: :delete, data: { confirm: '削除しますか？' }, class: "btn-primary" %>
    </div>
  <% end %>
</div>


<% if teacher_signed_in? %>
  <% @classroom.students.each do |student| %>
    <% submission = Submission.find_by(student_id: student.id, homework_id: @homework.id) %>
    <div class="submission-box">
      <%= student.nickname %>
      <% if submission.present? %>
        <span class="indispensable">提出</span>
        <%# 提出した日付・時間 %>
        <%= l submission.created_at %>
        <%# 宿題確認画面への遷移ボタン %>
        <div class="btn-contents">
          <%= link_to "宿題確認", classroom_homework_submission_path(@classroom.id, @homework.id, submission.id) %>
        </div>
        <% else %>
      <% end %>
    </div>
  <% end %>
<% elsif student_signed_in? %>
  <%= link_to "宿題提出", new_classroom_homework_submission_path(@classroom.id, @homework.id), class: "nav-link" %>

    <% submission = Submission.where(student_id: current_student.id, homework_id: @homework.id) %>
    <% if submission.exists? && current_student.id == submission.student_id %>
      <div class="submission-box">
        <span class="indispensable">提出</span>
        <%# 提出した日付・時間 %>
        <%= l submission.created_at %>
        <%# 宿題確認画面への遷移ボタン %>
        <div class="btn-contents">
          <%= link_to "宿題確認", classroom_homework_submission_path(@classroom.id, @homework.id, submission.id) %>
        </div>
      </div>
    <% end %>

<% end %>