<%= render "shared/default_bar" %>

<h2>学生しんきとうろく</h2>

<div class="class-box">
  <%= form_with model: @student, url: student_registration_path, class: 'registration-main', local: true do |f| %>
  <div class='form-wrap'>
    <div class='form-header'>
      <h1 class='form-header-text'>
        入力してください
      </h1>
    </div>

    <%# エラー文 %>
    <%= render 'shared/error_messages', model: f.object %>
    
    <%# 名前 %>
    <%# 学籍番号 %>
    <div class="form-group">
      <label class="form-label">学籍番号(student_number)半角</label>
      <span class="indispensable">必須</span>
      <%= f.text_field :student_number, class:"form-control", id:"student-number", name:"student-number", placeholder:"example) 1904001" %>
    </div>
    <%# /学籍番号 %>
    <div class="form-group">
      <label class="form-label">なまえ(alphabet or 漢字)</label>
      <span class="indispensable">必須</span>
      <%= f.text_field :name, class:"form-control", id:"last-name", name:"name", placeholder:"example) YamadaTaro" %>
    </div>
    <%# /名前 %>
    <%# 名前カナ %>
    <div class="form-group">
      <label class="form-label">なまえ(カタカナ)</label>
      <span class="indispensable">必須</span>
      <%= f.text_field :name_k, class:"form-control", id:"last-name", name:"name-k", placeholder:"example) ヤマダタロウ" %>
    </div>
    <%# /名前カナ %>
    <%# ニックネーム %>
    <div class="form-group">
      <label class="form-label">ニックネーム(nickname)</label>
      <span class="indispensable">必須</span>
      <%= f.text_field :nickname, class:"form-control", id:"nickname", name:"nickname", placeholder:"example) タロウ ", maxlength:"40" %>
    </div>
    <%# /ニックネーム %>
    <%# 生年月日 %>
    <div class="form-group">
      <label class="form-label">誕生日(birthday)</label>
      <span class="indispensable">必須</span>
      <div>
        <%= raw sprintf(
            f.date_select(
              :birthday,
              class:"form-control",
              id:"birth-date",
              name:"birthday",
              use_month_numbers: true,
              prompt:'--',
              start_year: 1920,
              end_year: (Time.now.year - 5),
              date_separator: '%s'),
            "<p> 年(year) </p>", "<p> 月(month) </p>") + "<p> 日(day) </p>" %>
      </div>
    </div>
    <%# /生年月日 %>
    <%# 画像 %>
    <div class="form-group">
      <label class="form-label">画像(picture)</label>
      <span class="indispensable">必須</span>
      <div class="field">
        <%= f.label :image, name: "student-image", id: "student-image" %>
        <%= f.file_field :image, id:"student-image" %>
      </div>
    </div>
    <%# 画像 %>
    <%# メールアドレス %>
    <div class="form-group">
      <label class="form-label">メールアドレス(email)</label>
      <span class="indispensable">必須</span>
      <%= f.email_field :email, class:"form-control", id:"email", name:"email", placeholder:"example) ×××@sj.com", autofocus: true %>
    </div>
    <%# /メールアドレス %>
    <%# パスワード %>
    <div class="form-group">
      <label class="form-label">パスワード(password)</label>
      <span class="indispensable">必須</span>
      <%= f.password_field :password, class:"form-control", id:"password", name:"password", placeholder:"英(abc)数字(123)６字以上で入力してください" %>
      <p class='info-text'>※英字と数字の両方を含めて設定してください</p>
    </div>
    <div class="form-group">
      <label class="form-label">パスワード(password confirmation)</label>
      <span class="indispensable">必須</span>
      <%= f.password_field :password_confirmation, class:"form-control", id:"password-confirmation", name:"password-confirmation", placeholder:"同じパスワードを入力して下さい" %>
    </div>
      <%# /パスワード %>
      
    <div class='register-btn'>
      <%= f.submit "しんきとうろく" ,class:"btn-primary" %>
    </div>
    <p class='register-info'>本人情報の登録について</p>
  </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>